body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial;
}

main {
  display: flex;
  flex: 1 1 auto;
}

nav {
  width: 100%;
  justify-content: center;
  display: flex;
  margin-bottom: 1em;
}

#map img {
  border: solid 1px;
}

#map {
  position: relative;
  display: flex;
  flex-direction: column;
}

#map-image,
#myCanvas {
  position: absolute;
  top: 0;
  left: 0;
}

#map-image {
  z-index: 0;
}

#myCanvas {
  z-index: 1;
}

#logoimg {
  width: 500px;
}

#change {
  text-align: right;
  font-size: 10pt;
}

#click-coordinates {
  padding-bottom: 1em;
}

#settings,
#finish,
#target-info {
  border: solid 1px;
  width: 90%;
  height: fit-content;
  z-index: 2;
  background-color: white;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#target-info {
  margin-top: 10px;
  font-size: 24pt;
  display: none;
  /* On affiche seulement après avoir sélectionné le niveau */
}

#settings {
  margin: auto;
  font-size: 24pt;
}

#finish {
  margin: auto;
  font-size: 20pt;
  display: none;
}

#credits {
  margin-top: 1em;
  font-size: 10pt;
}

#score {
  max-width: 40em;
  margin: 1em;
}

.click-point {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* Centrer le point */
}

.target-point {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  /* Centrer le point */
}

.target-text {
  position: absolute;
  font-size: 10pt;
}

.distance-text {
  position: absolute;
  font-size: 10pt;
}

button {
  background-color: #4444AA;
  border: none;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

@media only screen and (max-width: 819px) {
  main {
    flex-direction: column;
  }

  #score {
    width: auto;
  }

  #map {
    flex-basis: auto;
  }
}